/* inventory-qty-picker */
.inventory-qty-picker .v-expansion-panel-header {
    padding: 0;
    min-height: 0;
}
.inventory-qty-picker .v-expansion-panel-content {
    border-left: 2px dashed;
    padding-left: 7px;
}
.inventory-qty-picker .v-expansion-panel-content > div {
    padding: 0;
}
.inventory-qty-picker input {
    line-height: 35px;
}
.inventory-qty-picker .qty-done {
    text-align: center;
    width: 100%;
    outline: -webkit-focus-ring-color auto 1px;
}
.inventory-qty-picker .qty-todo {
    text-align: center;
}
.inventory-qty-picker .pkg-name {
    line-height: 1;
    padding-top: 2px;
}
.inventory-qty-picker .pkg-qty {
    font-size: 75%;
}
.inventory-qty-picker .qty-done-error {
    font-size: 75%;
    padding-top: 5px;
    min-height: 20px;
}
